@use '@angular/material' as mat;
@import '~@covalent/core/theming/all-theme';

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, 700);
$accent: mat.define-palette(mat.$orange-palette, 800);

$warn: mat.define-palette(mat.$red-palette, 600);

$theme: mat.define-light-theme($primary, $accent, $warn);

$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

@include mat.all-component-themes($theme);
@include covalent-theme($theme);
