.register-title {
  font-size: 17px;
  margin-top: 10px;
}

.register {
  .actions {
    margin-top: 20px;
  }
  .commercial {
    font-size: 13px;
  }
  .left {
    margin-left: 10px;
  }
  .terms {
    color: #0d47a1;
  }
}
