<td-layout>
  <md-card>
    <img md-card-image src="assets/images/jumptheq.png">
    <md-card-title>Access</md-card-title>

    <form layout="column" class="pad" (ngSubmit)="submitAccess(accessForm.form)" #accessForm="ngForm">

      <md-input-container>
        <input mdInput placeholder="Name" ngModel name="name" required>
      </md-input-container>

      <md-input-container>
        <input mdInput placeholder="Email" ngModel email name="email" required>
      </md-input-container>
      <span class="text-sm">Filling this, I acccept to receive commercial information.</span>

      <md-input-container>
        <input mdInput placeholder="Phone" type="number" ngModel name="phone" required>
      </md-input-container>

    <md-card-actions class="text-center">
      <button md-raised-button type="submit" color="primary" [disabled]="!accessForm.form.valid" class="text-upper">Request it</button>
    </md-card-actions>

    </form>
  </md-card>
</td-layout>