<td-layout>
  <mat-card *ngIf="queuers | async as queuersList; else loading">
    <img mat-card-image src="assets/images/jumptheq.png">
    <mat-card-title>Queue view:</mat-card-title>

    <td-data-table
      [data]="queuersList.result"
      [columns]="columns">
      <ng-template tdDataTableTemplate="visitor.name" let-value="value" let-row="row" let-column="column">
        <div layout="row">
          <span *ngIf="value === auth.getUser(); else normal" flex><b>{{value}}</b></span>
          <ng-template #normal>
            <span flex>{{value}}</span>
          </ng-template>
        </div>
      </ng-template>
    </td-data-table>
    
    <div class="text-center pad-lg">
      <button mat-raised-button (click)="navigateCode()" color="primary" class="text-upper">Go back</button>
    </div>

  </mat-card>
    
  <ng-template #loading>
    <mat-progress-bar
      color="accent"
      mode="indeterminate">
    </mat-progress-bar>
  </ng-template>

</td-layout>