<td-layout class="email-confirmation">
  <div layout="column" layout-align="center none">
    <div layout="row" layout-align="center">
      <mat-card flex-gt-sm="30" flex-gt-xs="50" layout-fill>
        <img mat-card-image src="assets/images/jumptheq.png">
        <mat-card-title>Confirmation</mat-card-title>
        <div layout-fill layout="column" layout-align="center center">
          <mat-spinner color="accent" class="loading-token"></mat-spinner>
          <span class="description">Waiting confirmation...</span>
        </div>
      </mat-card>
    </div>
  </div>
</td-layout>