.queue-detail {
  max-height: 30%;
  .attend-access-code {
    margin-top: 20%;
    span {
      font-size: 25px;
    }
    hr {
      min-width: 60%;
    }
    h2 {
      font-size: 50px;
      margin: 10px auto;
    }
  }
}
