.owner-area {
  background-color: #fff;
  .access-code {
    span {
      font-size: 25px;
      margin-top: 20%;
    }
    hr {
      min-width: 60%;
    }
    h2 {
      font-size: 50px;
      margin: 10px 0 30px 0;
    }
  }
}

